<div style="padding:5%; background-color: rgba(0, 0, 0, 0.4); text-align: center; color:yellow">
<h1 >Elaborado por: Alexander Garita, Alan Barquero</h1>
</div>
<body style="background-image: url(https://2.bp.blogspot.com/-n8tZVLszGAQ/U6z3as4gyXI/AAAAAAAAGdY/f4GbVsmlhvg/s1600/AutoWallpaper_part_120007.jpg">
<div class="princ" style="float:center; text-align: center;margin: 10%; background-color: rgba(0, 0, 0, 0.4); padding: 30px 90px; color:white; width: 80%; box-sizing: border-box;border-radius: 5px">
  <h1 style="margin: 10px; padding: 10px;float:center; font-size:20px; text-align:center;width:96%; border:solid; border-radius: 5px; background-color:rgba(255, 0, 0, 0.6); border-color:white; border-width:thin"><b>MENSAJERIA</b></h1>
  <br> 
  <li style="margin: 10px; padding: 10px;float:center; font-size:20px; text-align:center; width:96%; border:solid; border-radius: 5px; background-color: rgba(0, 0, 0, 0.4);; border-color:white; border-width:thin">
<%= link_to "LEER MENSAJES", "main/index", method: :get %>
</li>

 <li style="margin: 10px; padding: 10px;float:center; font-size:20px; text-align:center; width:96%; border:solid; border-radius: 5px; background-color: rgba(0, 0, 0, 0.4);; border-color:white; border-width:thin">
<%= link_to "NUEVO MENSAJE", "mensajes/new", method: :get %>
 </li>

 <li style="margin: 10px; padding: 10px;float:center; font-size:20px; text-align:center; width:96%; border:solid; border-radius: 5px; background-color: rgba(0, 0, 0, 0.4); border-color:white; border-width:thin">
<%= link_to "MANTENIMIENTO MENSAJES", "mensajes", method: :get %>
 </li>
</div>
</body>
